@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Fredoka+One|Open+Sans:300");
/*All Variables*/
/*Authentication Varables*/
/*End All Vairables*/
/*==============================================*/
/*ALL EXTENDS*/
.post__images {
  margin-top: 2%; }
  .post__images img {
    width: 98px; }
  .post__images input {
    background: red;
    height: 80px;
    position: absolute;
    width: 23%;
    margin-top: 2%;
    opacity: 0;
    cursor: pointer;
    margin-left: 36%; }

.upload__well button {
  border: none;
  background: #5833d7;
  font-size: 13px; }
.upload__well p small {
  color: #9a9898;
  font-size: 11px; }
.upload__well p {
  font-size: 14px;
  margin-bottom: 4%; }

.upload--text {
  font-size: 14px;
  font-weight: 600; }

div#myModalsd h3 {
  font-weight: 100;
  font-size: 21px;
  margin-bottom: 10%; }

div#myModalsd h4 {
  font-size: 19px;
  font-weight: 100;
  margin-bottom: 7%; }

div#myModalsd button.btn-default {
  padding: 7px 55px;
  background: #d4d3d3;
  border: none; }

div#myModalsd .modal-content {
  padding: 20px 90px;
  margin-top: 20%;
  box-shadow: 0 2px 15px #00000021 !important; }

.modal-content {
  box-shadow: 0 2px 15px #0000000f !important;
  border: 1px solid #ececec !important; }

.burgers i {
  padding: 10px 20px 8px;
  position: fixed;
  background: #5833d7;
  z-index: 100;
  bottom: 4%;
  box-shadow: 0 2px 19px 10px #00000012;
  right: 6%;
  border-radius: 50%;
  color: #fff;
  font-size: 30px; }

.burgers {
  display: none; }

.burgers i:nth-of-type(2) {
  padding: 10px 18px 8px;
  display: none;
  position: fixed;
  background: red;
  z-index: 100;
  bottom: 4%;
  box-shadow: 0 2px 19px 10px #00000012;
  right: 6%;
  border-radius: 50%;
  color: #fff;
  font-size: 30px; }

.opa2 {
  opacity: 0; }

.burger {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  background: #00000080;
  z-index: 1; }

.disk {
  transform: translate(0px) !important;
  display: block !important; }

.buttonsAuth, .body__auth section .well .btn-primary, .body__auth section .well .btn-danger {
  border-radius: 50px !important;
  border: none !important;
  box-shadow: none; }

.authInput, .body__auth section .form-control {
  border: 1px solid #AAB4BF;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  padding: 20px 23px;
  margin-bottom: 6%;
  box-shadow: none !important; }

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000 !important; }

.img--center {
  text-align: -webkit-center;
  display: block; }

header.g-head, .body__meeting header.g-head, .body__profile header.g-head, .body__meetings header.g-head {
  width: calc(100% - 125px) !important;
  min-height: auto;
  background: #fff;
  padding: 1.03% 4%;
  float: right; }
  header.g-head input, .body__meeting header.g-head input, .body__profile header.g-head input, .body__meetings header.g-head input {
    padding: 3% 6%;
    border-radius: 50px;
    border: 1px solid #C7D0D9; }

aside.nav-side {
  width: 8.35%;
  height: 100vh;
  background: #fff;
  box-shadow: 1px 1px 20px 2px #0000001a;
  border-top: 1px solid #C7D0DB;
  position: fixed !important;
  top: 0;
  z-index: 100; }
  aside.nav-side .logo {
    padding: 6%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
    text-align: -webkit-center; }
  aside.nav-side .logo img {
    margin-top: 18%;
    width: 48px;
    margin-bottom: 15%; }
  aside.nav-side hr {
    margin: 0px !important; }
  aside.nav-side nav {
    padding: 37px !important; }
  aside.nav-side nav ul li a {
    list-style: none; }
  aside.nav-side nav ul li {
    padding-bottom: 70%;
    list-style: none; }
  aside.nav-side .activeNave {
    background: #ffffff;
    padding: 19px 0px 1px !important;
    margin-bottom: 83%;
    border-radius: 15px;
    /* background: red; */
    border-left: 3px solid #5833d7; }
  aside.nav-side nav ul li img {
    margin-left: auto;
    margin-right: auto;
    width: 32px;
    margin-bottom: 43%;
    display: block; }

/*end Extends*/
/*============================================*/
* {
  padding: 0px;
  font-family: "Roboto", sans-serif;
  margin: 0px;
  /*background: #fff;*/
  transition: all .2s ease; }

/*FOR ALL IN AUTHTHENTICATION PAGES*/
/*start*/
.body__auth {
  background: #EEF2F6 !important; }
  .body__auth section {
    height: 100vh;
    background: #EEF2F6 !important; }
    .body__auth section .g__gray {
      color: #979696; }
    .body__auth section .well {
      margin-top: 19%;
      border-radius: 30px;
      border: none !important;
      background: #ffffff;
      padding: 20px 60px;
      box-shadow: 0px 3px 30px rgba(205, 221, 238, 0.561); }
      .body__auth section .well .btn-primary {
        background: #5833D7 !important;
        margin-top: 9%; }
      .body__auth section .well button {
        margin-bottom: 1%;
        padding: 11px 60px; }
      .body__auth section .well img {
        height: 80px; }
      .body__auth section .well .btn-danger {
        background: #F85B20; }
      .body__auth section .well h4 {
        font-size: 15px;
        margin-top: 4%;
        margin-bottom: 4%;
        text-align: center;
        color: #000; }
        .body__auth section .well h4:before {
          content: "";
          position: absolute;
          background: #c5c5c5;
          height: 1px;
          width: 30%;
          right: 11%;
          margin-top: 1%; }
        .body__auth section .well h4:after {
          content: "";
          position: absolute;
          background: #c5c5c5;
          height: 1px;
          width: 30%;
          left: 11%;
          margin-top: 1%; }

/*===================================================*/
/*GENERAL CSS CALLS */
/*================================================*/
/* ================================================================*/
/* DASHBOARD CSS 
/==================================================================== */
.body__dashboard {
  /* carousel */
  /* Previous button  */
  /* Next button  */
  /* Changes the position of the indicators */
  /* Changes the colour of the indicators */
  /* End carousel */ }
  .body__dashboard .media-carousel {
    margin-bottom: 0;
    padding-top: 5px;
    margin-bottom: 20px; }
  .body__dashboard .media-carousel .carousel-control.left {
    left: -12px;
    background-image: none;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    height: 40px;
    width: 40px;
    margin-top: 60px; }
  .body__dashboard .media-carousel .carousel-control.right {
    right: -12px !important;
    background-image: none;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    height: 40px;
    width: 40px;
    margin-top: 60px; }
  .body__dashboard .media-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px; }
  .body__dashboard .media-carousel .carousel-indicators li {
    background: #fff; }
  .body__dashboard .media-carousel .carousel-indicators .active {
    background: #333333; }
  .body__dashboard .media-carousel img {
    width: 250px;
    height: 100px; }
  .body__dashboard .new-sl col-md-3 {
    padding: 0px; }
  .body__dashboard .c-c-box {
    float: left;
    width: 17px;
    height: 10px;
    background-color: #EEF2F6;
    border-radius: 20px;
    margin-top: 5px; }
  .body__dashboard .cir {
    width: 90px;
    height: 90px;
    border-radius: 100px;
    border: 2px solid #A7B3BE;
    margin-left: auto;
    margin-right: auto; }
    .body__dashboard .cir h2 {
      color: #A7B3BE;
      font-family: 'Open Sans';
      font-size: 37px; }
  .body__dashboard .thumbnail {
    width: 100%;
    height: auto;
    font-family: "Roboto", sans-serif;
    padding: 20%; }
  .body__dashboard .thumbnail p {
    margin: 0 0 0px;
    margin-top: 15%;
    color: #A7B3BE; }
  .body__dashboard .thumbnail:hover {
    text-decoration: none;
    color: #A7B3BE;
    border-color: #A7B3BE;
    box-shadow: 1px 1px 40px #eee; }
  .body__dashboard #dashboard_box {
    display: flex;
    width: 100%;
    background: #EEF2F6; }
  .body__dashboard #d_content_box {
    padding-bottom: 6%; }
  .body__dashboard .meeting_card_top_section {
    width: 100%;
    height: auto;
    padding: 2% 1%;
    background: blue;
    background: #4a59e3;
    background: -moz-linear-gradient(137deg, #4a59e3 0%, #4664de 53%, #5a33da 100%);
    background: -webkit-linear-gradient(137deg, #4a59e3 0%, #4664de 53%, #5a33da 100%);
    background: linear-gradient(137deg, #4a59e3 0%, #4664de 53%, #5a33da 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4a59e3", endColorstr="#5a33da", GradientType=1);
    z-index: 1000; }
  .body__dashboard .top_meeting_box {
    float: left;
    width: 100%;
    min-height: auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 3px 60px rgba(0, 0, 0, 0.11528);
    padding: 4% 1%;
    margin-bottom: 4%; }
  .body__dashboard .m_start_box {
    width: 100%;
    background: white;
    border-radius: 50px;
    box-shadow: 2px 0px 15px #e4e4e4;
    height: 43px;
    padding: 4%; }
  .body__dashboard .timeline-box {
    height: 800px;
    background: white;
    box-shadow: 0px 0px 30px #D7DEE6;
    border-radius: 10px;
    padding: 4%; }
    .body__dashboard .timeline-box h4 {
      font-size: 18px;
      color: #A4B0BC; }
    .body__dashboard .timeline-box .message-item {
      margin-bottom: 25px;
      margin-left: 40px;
      position: relative; }
    .body__dashboard .timeline-box .message-item .message-inner {
      background: #fff;
      border: 1px solid #ddd;
      border-radius: 3px;
      padding: 30px;
      position: relative; }
    .body__dashboard .timeline-box .message-item .message-inner:before {
      border-right: 10px solid #ddd;
      border-style: solid;
      border-width: 10px;
      color: transparent;
      content: "";
      display: block;
      height: 0;
      position: absolute;
      left: -20px;
      top: 6px;
      width: 0; }
    .body__dashboard .timeline-box .message-item .message-inner:after {
      border-right: 10px solid #fff;
      border-style: solid;
      border-width: 10px;
      color: transparent;
      content: "";
      display: block;
      height: 0;
      position: absolute;
      left: -18px;
      top: 6px;
      width: 0; }
    .body__dashboard .timeline-box .message-item:before {
      background: #fff;
      border-radius: 2px;
      bottom: -30px;
      content: "";
      height: 100%;
      left: -30px;
      position: absolute;
      width: 3px;
      background: #eef2f6; }
    .body__dashboard .timeline-box .message-item:after {
      background: #fff;
      border: 2px solid #ccc;
      border-radius: 50%;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      content: "";
      height: 15px;
      left: -36px;
      position: absolute;
      top: 10px;
      width: 15px; }
    .body__dashboard .timeline-box .clearfix:before,
    .body__dashboard .timeline-box .clearfix:after {
      content: " ";
      display: table; }
    .body__dashboard .timeline-box .message-item .message-head {
      border-bottom: 1px solid #fff;
      margin-bottom: 0px;
      padding-bottom: 0px; }
    .body__dashboard .timeline-box .message-item .message-head .avatar {
      margin-right: 20px; }
    .body__dashboard .timeline-box .message-item .message-head .user-detail {
      overflow: hidden; }
    .body__dashboard .timeline-box .message-item .message-head .user-detail h5 {
      font-size: 20px;
      margin: 0;
      color: #4E4E4E; }
    .body__dashboard .timeline-box .message-item .message-head .post-meta {
      float: left;
      padding: 0 15px 0 0; }
    .body__dashboard .timeline-box .message-item .message-head .post-meta > div {
      color: #333;
      font-weight: bold;
      text-align: right; }
    .body__dashboard .timeline-box .post-meta > div {
      color: #777;
      font-size: 12px;
      line-height: 22px; }
    .body__dashboard .timeline-box .message-item .message-head .post-meta > div {
      color: #333;
      font-weight: bold;
      text-align: right; }
    .body__dashboard .timeline-box .post-meta > div {
      color: #777;
      font-size: 12px;
      line-height: 22px; }
    .body__dashboard .timeline-box img {
      min-height: 40px;
      max-height: 40px;
      border-radius: 5px; }
    .body__dashboard .timeline-box .bcs {
      background: #EEF2F6;
      height: 50px;
      border-radius: 10px; }
  .body__dashboard .sided-box .counter-box {
    height: 250px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 30px #D7DEE6;
    padding: 3%; }
  .body__dashboard .sided-box h3 {
    font-size: 90px;
    color: #A4B0BC;
    font-family: 'Open Sans'; }
  .body__dashboard .sided-box h4 {
    color: #A4B0BC; }
  .body__dashboard .sided-box .task-sm-box {
    width: 100%;
    min-height: 790px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 30px #D7DEE6;
    margin-top: 4%;
    padding: 4%; }
    .body__dashboard .sided-box .task-sm-box h4 {
      color: #A4B0BC; }
    .body__dashboard .sided-box .task-sm-box ul li {
      list-style: none;
      margin-bottom: 3%;
      padding-bottom: 4%;
      border-bottom: 1px solid #eee; }
    .body__dashboard .sided-box .task-sm-box ul li h4 {
      color: #4E4E4E !important; }
    .body__dashboard .sided-box .task-sm-box ul li span {
      float: left;
      font-size: 14px !important;
      margin-top: -7px; }
  .body__dashboard .graph-box {
    float: left;
    width: 100%;
    height: auto;
    background: white;
    margin-top: 2%;
    border-radius: 10px;
    padding: 2%; }

.body__meeting {
  background: #EEF2F6; }
  .body__meeting header.g-head {
    width: 100% !important;
    padding: 1.9% 4% !important; }
    .body__meeting header.g-head input {
      border: none !important;
      font-size: 19px !important;
      padding: 1% 1% !important; }
  .body__meeting .meetingarea textarea {
    height: 100vh;
    box-shadow: none;
    border: none;
    padding: 3% 4%;
    font-size: 14px;
    border-radius: 1px;
    display: block; }
  .body__meeting .meetingarea .button__end {
    position: fixed;
    bottom: 3%;
    width: 50%;
    margin-left: 7%;
    background: #35DF85 !important;
    display: block;
    padding: 14px;
    border: none;
    border-radius: 9px; }
  .body__meeting .meetingarea .super__well {
    margin: 13% 10%;
    background: #fff;
    padding: 60px;
    box-shadow: none;
    /* The customcheck */
    /* Hide the browser's default checkbox */
    /* Create a custom checkbox */
    /* On mouse-over, add a grey background color */
    /* When the checkbox is checked, add a blue background */
    /* Create the checkmark/indicator (hidden when not checked) */
    /* Show the checkmark when checked */
    /* Style the checkmark/indicator */ }
    .body__meeting .meetingarea .super__well img {
      height: 170px;
      margin-bottom: 8%; }
    .body__meeting .meetingarea .super__well .customcheck {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 22px;
      cursor: pointer;
      font-size: 17px;
      color: #A4B0BC;
      font-weight: 300;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    .body__meeting .meetingarea .super__well p {
      font-size: 13px;
      font-weight: 100; }
    .body__meeting .meetingarea .super__well h4 {
      font-size: 16px; }
    .body__meeting .meetingarea .super__well .btn-success {
      background: #35DF85 !important;
      padding: 16px;
      border: none;
      margin-top: 27%;
      border-radius: 10px; }
    .body__meeting .meetingarea .super__well .customcheck input {
      position: absolute;
      opacity: 0;
      cursor: pointer; }
    .body__meeting .meetingarea .super__well .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      border: 1px solid #eee;
      background: transparent;
      border-radius: 50%; }
    .body__meeting .meetingarea .super__well .customcheck:hover input ~ .checkmark {
      background-color: #ccc; }
    .body__meeting .meetingarea .super__well .customcheck input:checked ~ .checkmark {
      background-color: #02cf32;
      border-radius: 50px; }
    .body__meeting .meetingarea .super__well .checkmark:after {
      content: "";
      position: absolute;
      display: none; }
    .body__meeting .meetingarea .super__well .customcheck input:checked ~ .checkmark:after {
      display: block; }
    .body__meeting .meetingarea .super__well .customcheck .checkmark:after {
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
  .body__meeting .left__bar--start .outer__well {
    filter: blur(3px);
    position: fixed;
    height: 100%;
    width: 25%;
    box-shadow: none;
    border-radius: 1px;
    border: none;
    background: #DCE9F6; }
    .body__meeting .left__bar--start .outer__well .member__arrange {
      padding: 1px 30px; }
      .body__meeting .left__bar--start .outer__well .member__arrange img {
        height: 46px;
        border-radius: 50%;
        border: 3px solid white; }
      .body__meeting .left__bar--start .outer__well .member__arrange h4 {
        color: #4A59E3;
        margin-top: 5px;
        margin-bottom: 20px;
        font-size: 20px; }
    .body__meeting .left__bar--start .outer__well ul.timeline {
      list-style-type: none;
      position: relative;
      display: block; }
    .body__meeting .left__bar--start .outer__well .float-right {
      float: right; }
    .body__meeting .left__bar--start .outer__well ul.timeline:before {
      content: ' ';
      background: #d4d9df;
      display: inline-block;
      position: absolute;
      left: 29px;
      width: 2px;
      height: 100%;
      z-index: 400; }
    .body__meeting .left__bar--start .outer__well ul.timeline > li {
      margin: 20px 0;
      font-size: 12px;
      padding-left: 50px; }
    .body__meeting .left__bar--start .outer__well ul.timeline > li:before {
      content: ' ';
      background: white;
      display: inline-block;
      position: absolute;
      border-radius: 50%;
      border: 2px solid #474848;
      left: 20px;
      width: 20px;
      height: 20px;
      z-index: 400; }
  .body__meeting .left__bar--start .inner_well {
    background: #fff;
    position: absolute;
    width: 89%;
    bottom: 0;
    margin-left: 2%;
    height: 367px;
    border-radius: 10px;
    border: none;
    padding: 19px 27px;
    box-shadow: none;
    /* Hide default HTML checkbox */
    /* The slider */
    /* Rounded sliders */ }
    .body__meeting .left__bar--start .inner_well .model_P {
      color: #B5BEC5;
      font-size: 14px;
      margin: 12px; }
    .body__meeting .left__bar--start .inner_well .media {
      margin-top: 21px;
      padding-bottom: 3px;
      border-bottom: 1px solid #DED; }
      .body__meeting .left__bar--start .inner_well .media img {
        width: 47px !important; }
      .body__meeting .left__bar--start .inner_well .media h4 {
        font-size: 16px; }
      .body__meeting .left__bar--start .inner_well .media p {
        font-size: 13px;
        font-weight: 100; }
    .body__meeting .left__bar--start .inner_well .switch {
      position: relative;
      width: 60px;
      float: right;
      height: 25px; }
    .body__meeting .left__bar--start .inner_well .switch input {
      display: none; }
    .body__meeting .left__bar--start .inner_well .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s; }
    .body__meeting .left__bar--start .inner_well .slider:before {
      position: absolute;
      content: "";
      height: 18px;
      width: 18px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s; }
    .body__meeting .left__bar--start .inner_well input:checked + .slider {
      background-color: #2196F3; }
    .body__meeting .left__bar--start .inner_well input:focus + .slider {
      box-shadow: 0 0 1px #2196F3; }
    .body__meeting .left__bar--start .inner_well input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px); }
    .body__meeting .left__bar--start .inner_well .slider.round {
      border-radius: 34px; }
    .body__meeting .left__bar--start .inner_well .slider.round:before {
      border-radius: 50%; }

.body__profile {
  background: #EEF2F6; }
  .body__profile header.g-head h4 {
    font-size: 21px;
    font-weight: 400;
    color: #A4B0BC;
    padding: 6px 0px; }
  .body__profile div.main__burst .fat--well {
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 5%; }
    .body__profile div.main__burst .fat--well .well {
      background: #fff;
      border-radius: 12px;
      height: 600px;
      padding: 6%;
      box-shadow: none; }
      .body__profile div.main__burst .fat--well .well h4 {
        color: #A4B0BC;
        font-weight: 400; }
      .body__profile div.main__burst .fat--well .well label {
        color: #A4B0BC;
        font-weight: 100 !important; }
      .body__profile div.main__burst .fat--well .well p {
        color: #A4B0BC;
        font-weight: 100 !important; }
      .body__profile div.main__burst .fat--well .well input {
        box-shadow: none;
        padding: 21px 13px;
        margin-bottom: 3%; }
      .body__profile div.main__burst .fat--well .well button {
        background: #4A59E3;
        padding: 12px;
        border: none; }

#myModals .modal-content {
  padding: 17px 23px;
  box-shadow: 0 2px 15px #00000024; }
  #myModals .modal-content .media {
    border-bottom: 1px solid #ddd;
    padding-bottom: 2%; }
    #myModals .modal-content .media button {
      margin-top: -4%;
      border: none;
      padding: 7px 27px;
      background: #5833d7; }

#myModald .modal-content {
  padding: 17px 23px;
  box-shadow: 0 2px 15px #00000024; }
  #myModald .modal-content h3 {
    color: #5833d7; }
  #myModald .modal-content p {
    color: #b5b5b5; }
  #myModald .modal-content textarea {
    resize: none;
    box-shadow: none; }
  #myModald .modal-content label {
    color: #FF9800;
    margin-bottom: 9px; }
  #myModald .modal-content button.btn-warning {
    border: none;
    border-radius: 1px;
    background: #FF9800;
    padding: 7px 33px;
    margin-top: 14px; }
  #myModald .modal-content span {
    background: white;
    border-radius: 50px;
    box-shadow: 0 2px 15px #0000001c;
    padding: 7px 10px;
    margin-left: 2%;
    font-size: 13px;
    font-weight: 400; }
  #myModald .modal-content span img {
    height: 22px;
    margin-right: 6px;
    width: 22px;
    /* margin-left: 3%; */
    border-radius: 50%; }

.body__meetings {
  background: #EEF2F6; }
  .body__meetings div#addedStrings img {
    display: block;
    border: 4px solid #fff;
    height: 50px;
    margin-bottom: 6px;
    border-radius: 50%; }
  .body__meetings div#addedStrings {
    display: block;
    margin-bottom: 1%;
    margin-left: 4%; }
  .body__meetings .table {
    border: 1px solid #ddd;
    border-radius: 5px; }
  .body__meetings thead th {
    padding: 17px 20px !important;
    color: #4455ec;
    font-weight: 400 !important; }
  .body__meetings tbody td {
    padding: 23px !important;
    color: #979696; }
  .body__meetings header.g-head h4 {
    font-size: 21px;
    font-weight: 400;
    color: #A4B0BC;
    padding: 6px 0px; }
  .body__meetings .columers .counter-box {
    height: 180px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 30px #D7DEE6;
    padding: 2%; }
  .body__meetings .columers h3 {
    font-size: 61px;
    color: #A4B0BC;
    font-family: 'Open Sans'; }
  .body__meetings .columers h4 {
    color: #A4B0BC; }
  .body__meetings .left__meeting--well {
    background: #fff;
    border: none;
    box-shadow: none;
    padding: 40px;
    border-radius: 15px; }
    .body__meetings .left__meeting--well input {
      box-shadow: none;
      border-radius: 50px;
      padding: 22px 16px; }
    .body__meetings .left__meeting--well .top_meeting_box {
      float: left;
      width: 100%;
      min-height: auto;
      background: white;
      border-radius: 10px;
      box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.11528);
      padding: 4% 1%;
      margin-bottom: 8%; }
      .body__meetings .left__meeting--well .top_meeting_box h4 {
        font-size: 16px !important; }
      .body__meetings .left__meeting--well .top_meeting_box img.t_m_b_img {
        height: 80px;
        margin-top: 10%; }
    .body__meetings .left__meeting--well .m_start_box {
      width: 100%;
      background: white;
      border-radius: 50px;
      box-shadow: 2px 0px 15px #e4e4e4;
      height: 43px;
      padding: 4%;
      font-size: 13px; }
    .body__meetings .left__meeting--well .clearfix:before,
    .body__meetings .left__meeting--well .clearfix:after {
      content: " ";
      display: table; }

.body__businesscard .bx-wrapper {
  -moz-box-shadow: 0 2px 15px #00000045 !important;
  -webkit-box-shadow: 0 2px 15px #00000045 !important;
  box-shadow: 0 2px 15px #c9c9c94d !important;
  border: 5px solid #fff;
  background: #fff;
  border-radius: 16px !important; }
.body__businesscard .g-head h3 {
  font-size: 14px !important;
  color: #A4B0BC; }
.body__businesscard .g-head input {
  padding: 13px !important;
  width: 100%; }
.body__businesscard #d_content_box {
  background: white;
  border: 1px solid #ccc;
  padding-bottom: 0px; }
.body__businesscard .timeline-box {
  height: auto;
  box-shadow: none;
  padding: 4% 4% 0% 4%; }
.body__businesscard .sided-box {
  background: #EEF2F6;
  min-height: 100vh;
  padding: 4%; }
.body__businesscard .timeline-box .col-md-1 {
  padding: 0; }
.body__businesscard .timeline-box input {
  padding: 21px;
  border-radius: 50px;
  box-shadow: none; }
.body__businesscard .timeline-box .message-item .message-head {
  border-bottom: 0px solid #eee;
  margin-bottom: 4px;
  padding-bottom: 4px; }
.body__businesscard .s-biz-c {
  position: absolute;
  top: 35%;
  left: 43%; }
.body__businesscard p {
  color: #A4B0BC; }
.body__businesscard .bcs-header {
  width: 100%;
  height: auto;
  background: white;
  border-radius: 50px;
  padding: 3%;
  margin-bottom: 6%; }
  .body__businesscard .bcs-header h4 {
    color: #333 !important; }
.body__businesscard .more-box {
  background: #4a59e3;
  background: -moz-linear-gradient(137deg, #4a59e3 0%, #4664de 53%, #1692f0 100%);
  background: -webkit-linear-gradient(137deg, #4a59e3 0%, #4664de 53%, #1692f0 100%);
  background: linear-gradient(137deg, #4a59e3 0%, #4664de 53%, #1692f0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4a59e3", endColorstr="#1692f0", GradientType=1);
  border-radius: 10px;
  padding: 4%;
  color: white; }
  .body__businesscard .more-box p {
    color: white !important; }

.body__businesscard_detail {
  background: #fff !important; }
  .body__businesscard_detail #d_box_content {
    height: 100vh;
    background: #fff;
    padding: 3% 7%;
    border-top: 1px solid #ccc; }
    .body__businesscard_detail #d_box_content h4 img {
      float: left;
      width: 73px;
      height: 73px;
      border-radius: 50%; }
    .body__businesscard_detail #d_box_content .well {
      width: 100%;
      display: inline-flex;
      background: #fff;
      border: none;
      box-shadow: 0 2px 15px #00000026;
      border-radius: 50px;
      padding: 14px 64px 4px 26px;
      margin-bottom: 4%;
      margin-top: 7px; }
    .body__businesscard_detail #d_box_content .more-box {
      background: #4a59e3;
      background: -moz-linear-gradient(137deg, #4a59e3 0%, #4664de 53%, #1692f0 100%);
      background: -webkit-linear-gradient(137deg, #4a59e3 0%, #4664de 53%, #1692f0 100%);
      background: linear-gradient(137deg, #4a59e3 0%, #4664de 53%, #1692f0 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4a59e3", endColorstr="#1692f0", GradientType=1);
      border-radius: 50px;
      padding: 8px 40px;
      float: right;
      color: white; }
    .body__businesscard_detail #d_box_content .slider {
      box-shadow: 0 2px 15px #00000025; }
    .body__businesscard_detail #d_box_content .bx-wrapper {
      -moz-box-shadow: 0 2px 15px #00000045 !important;
      -webkit-box-shadow: 0 2px 15px #00000045 !important;
      box-shadow: 0 2px 15px #afafaf4d !important;
      border: 5px solid #fff;
      background: #fff;
      border-radius: 16px !important; }

@media (max-width: 585px) {
  aside.nav-side {
    width: 30%;
    transform: translate(-1000px);
    height: 100vh;
    background: #fff;
    box-shadow: 1px 1px 20px 2px #0000001a;
    border-top: 1px solid #C7D0DB;
    position: fixed !important;
    top: 0;
    border-right: 2px solid #ddd;
    z-index: 100; }

  .burgers {
    display: block; } }
@media (max-width: 989px) {
  aside.nav-side {
    width: 30%;
    transform: translate(-1000px);
    height: 100vh;
    background: #fff;
    box-shadow: 1px 1px 20px 2px #0000001a;
    border-top: 1px solid #C7D0DB;
    position: fixed !important;
    top: 0;
    border-right: 2px solid #ddd;
    z-index: 100; }

  .burgers {
    display: block; } }
/* CSS copyright sponsored by The Teach advance UI & UX Team </ > */
/* BEST REGARDS */

/*# sourceMappingURL=style.css.map */
