@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Fredoka+One|Open+Sans:300');

/*All Variables*/

$platform_font: 'Roboto',
sans-serif;

/*Authentication Varables*/

// Start
$authBlue : #5833D7;
$authRed: #F85B20;
// End

/*End All Vairables*/

/*==============================================*/

/*ALL EXTENDS*/
.search-bar input {
	border: none !important;
	font-size: 19px !important;
	padding: 1% 1% !important;
}

.burgers i {
	padding: 10px 20px 8px;
	position: fixed;
	background: #5833d7;
	z-index: 100;
	bottom: 4%;
	box-shadow: 0 2px 19px 10px #00000012;
	right: 6%;
	border-radius: 50%;
	color: #fff;
	font-size: 30px;
}

.burgers {
	display: none;
}

.burgers i:nth-of-type(2) {
	padding: 10px 18px 8px;
	display: none;
	position: fixed;
	background: red;
	z-index: 100;
	bottom: 4%;
	box-shadow: 0 2px 19px 10px #00000012;
	right: 6%;
	border-radius: 50%;
	color: #fff;
	font-size: 30px;
}

.opa2 {
	opacity: 0;
}

.burger {
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
	background: #00000080;
	z-index: 1;
}

.disk {
	transform: translate(0px) !important;
	display: block !important;
}

.buttonsAuth {
	border-radius: 50px !important;
	border: none !important;
	box-shadow: none;
}

.authInput {
	border: 1px solid #AAB4BF;
	border-radius: 50px;
	font-size: 14px;
	font-weight: 400;
	color: #000000;
	padding: 20px 23px;
	margin-bottom: 6%;
	box-shadow: none !important;

}

.modal-content {
	box-shadow: 0 2px 15px #0000000f !important;
	border: 1px solid #ececec !important;
}

.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: #000 !important;
}

// MISELANEOUS
div#myModalsd h3 {
	font-weight: 100;
	font-size: 21px;
	margin-bottom: 10%;
}

div#myModalsd h4 {
	font-size: 19px;
	font-weight: 100;
	margin-bottom: 7%;
}

div#myModalsd button.btn-default {
	padding: 7px 55px;
	background: #d4d3d3;
	border: none;
}

div#myModalsd .modal-content {
	padding: 20px 90px;
	margin-top: 20%;
	box-shadow: 0 2px 15px #00000021 !important;
}

// END
.img--center {
	text-align: -webkit-center;
	display: block;
}

header.g-head {

	width: calc(100% - 125px) !important;
	min-height: auto;
	background: #fff;
	padding: 1.03% 4%;
	float: right;

	// z-index:222200;
	input {
		padding: 3% 6%;
		border-radius: 50px;
		border: 1px solid #C7D0D9;
	}




}

aside.nav-side {
	width: 8.35%;
	height: 100vh;
	background: #fff;
	box-shadow: 1px 1px 20px 2px #0000001a;
	border-top: 1px solid #C7D0DB;
	position: fixed !important;
	top: 0;
	z-index: 100;

	.logo {
		padding: 6%;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
		display: block;
		text-align: -webkit-center;
	}

	.logo img {
		margin-top: 18%;
		width: 48px;
		margin-bottom: 15%;
	}

	hr {
		margin: 0px !important;
	}

	nav {
		padding: 37px !important;
	}

	nav ul li a {
		list-style: none;

	}

	nav ul li {
		padding-bottom: 70%;
		list-style: none;
	}

	.activeNave {
		background: #ffffff;
		padding: 19px 0px 1px !important;
		margin-bottom: 83%;
		border-radius: 15px;
		/* background: red; */
		border-left: 3px solid #5833d7;
	}

	nav ul li img {
		margin-left: auto;
		margin-right: auto;
		width: 32px;
		margin-bottom: 43%;
		display: block;
	}

}

.upload__well {
	button {
		border: none;
		background: #5833d7;
		font-size: 13px;
	}

	p small {
		color: #9a9898;
		font-size: 11px;
	}

	p {
		font-size: 14px;
		margin-bottom: 4%;
	}
}


/*end Extends*/


/*============================================*/


* {
	padding: 0px;
	font-family: $platform_font;
	margin: 0px;
	/*background: #fff;*/
	transition: all .2s ease;
}

/*FOR ALL IN AUTHTHENTICATION PAGES*/

/*start*/

.body__auth {
	background: #EEF2F6 !important;


	section {
		height: 100vh;
		background: #EEF2F6 !important;

		.form-control {
			@extend .authInput;
		}

		.g__gray {
			color: #979696;
		}

		.well {
			margin-top: 19%;
			border-radius: 30px;
			border: none !important;
			background: #ffffff;
			padding: 20px 60px;
			box-shadow: 0px 3px 30px rgba(205, 221, 238, 0.561);

			.btn-primary {
				background: $authBlue !important;
				@extend .buttonsAuth;
				margin-top: 9%;
				// padding: 10px 58px;
			}

			button {

				margin-bottom: 1%;
				padding: 11px 60px;
			}

			img {
				height: 80px;
			}

			.btn-danger {
				background: $authRed;
				@extend .buttonsAuth;
			}

			h4 {
				font-size: 15px;
				margin-top: 4%;
				margin-bottom: 4%;
				text-align: center;
				color: #000;

				&:before {
					content: "";
					position: absolute;
					background: #c5c5c5;
					height: 1px;
					width: 30%;
					right: 11%;
					margin-top: 1%;
				}

				&:after {
					content: "";
					position: absolute;
					background: #c5c5c5;
					height: 1px;
					width: 30%;
					left: 11%;
					margin-top: 1%;
				}
			}
		}
	}
}

/*===================================================*/
/*GENERAL CSS CALLS */
/*================================================*/




/* ================================================================*/
/* DASHBOARD CSS 
/==================================================================== */


.body__dashboard {



	#dashboard_box {
		display: flex;
		width: 100%;
		background: #EEF2F6;
	}


	#d_content_box {
		padding-bottom: 6%;
	}


	.meeting_card_top_section {
		width: 100%;
		height: auto;
		padding: 2% 1%;
		background: blue;
		background: rgb(74, 89, 227);
		background: -moz-linear-gradient(137deg, rgba(74, 89, 227, 1) 0%, rgba(70, 100, 222, 1) 53%, rgba(90, 51, 218, 1) 100%);
		background: -webkit-linear-gradient(137deg, rgba(74, 89, 227, 1) 0%, rgba(70, 100, 222, 1) 53%, rgba(90, 51, 218, 1) 100%);
		background: linear-gradient(137deg, rgba(74, 89, 227, 1) 0%, rgba(70, 100, 222, 1) 53%, rgba(90, 51, 218, 1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4a59e3", endColorstr="#5a33da", GradientType=1);
		z-index: 1000;
	}

	.top_meeting_box {
		float: left;
		width: 100%;
		min-height: auto;
		background: white;
		border-radius: 10px;
		box-shadow: 0px 3px 60px rgba(0, 0, 0, 0.11528361344537819);
		padding: 4% 1%;
		margin-bottom: 4%;
	}



	.m_start_box {
		width: 100%;
		background: white;
		border-radius: 50px;
		box-shadow: 2px 0px 15px #e4e4e4;
		height: 43px;
		padding: 4%;
	}



	.timeline-box {
		height: 800px;
		background: white;
		box-shadow: 0px 0px 30px #D7DEE6;
		border-radius: 10px;
		padding: 4%;

		h4 {
			font-size: 18px;
			color: #A4B0BC;
		}

		.message-item {
			margin-bottom: 25px;
			margin-left: 40px;
			position: relative;
		}

		.message-item .message-inner {
			background: #fff;
			border: 1px solid #ddd;
			border-radius: 3px;
			padding: 30px;
			position: relative;
		}

		.message-item .message-inner:before {
			border-right: 10px solid #ddd;
			border-style: solid;
			border-width: 10px;
			color: rgba(0, 0, 0, 0);
			content: "";
			display: block;
			height: 0;
			position: absolute;
			left: -20px;
			top: 6px;
			width: 0;
		}

		.message-item .message-inner:after {
			border-right: 10px solid #fff;
			border-style: solid;
			border-width: 10px;
			color: rgba(0, 0, 0, 0);
			content: "";
			display: block;
			height: 0;
			position: absolute;
			left: -18px;
			top: 6px;
			width: 0;
		}

		.message-item:before {
			background: #fff;
			border-radius: 2px;
			bottom: -30px;
			// box-shadow: 0 0 3px rgba(0,0,0,0.2);
			content: "";
			height: 100%;
			left: -30px;
			position: absolute;
			width: 3px;
			background: #eef2f6;
		}

		.message-item:after {
			background: #fff;
			border: 2px solid #ccc;
			border-radius: 50%;
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
			content: "";
			height: 15px;
			left: -36px;
			position: absolute;
			top: 10px;
			width: 15px;
		}

		.clearfix:before,
		.clearfix:after {
			content: " ";
			display: table;
		}

		.message-item .message-head {
			border-bottom: 1px solid #eee;
			margin-bottom: 8px;
			padding-bottom: 8px;
		}

		.message-item .message-head .avatar {
			margin-right: 20px;
		}

		.message-item .message-head .user-detail {
			overflow: hidden;
		}

		.message-item .message-head .user-detail h5 {
			font-size: 20px;
			cursor: pointer;
			margin: 0;
			color: #4E4E4E;
		}

		.message-item .message-head .post-meta {
			float: left;
			padding: 0 15px 0 0;
		}

		.message-item .message-head .post-meta>div {
			color: #333;
			font-weight: bold;
			text-align: right;
		}

		.post-meta>div {
			color: #777;
			font-size: 12px;
			line-height: 22px;
		}

		.message-item .message-head .post-meta>div {
			color: #333;
			font-weight: bold;
			text-align: right;
		}

		.post-meta>div {
			color: #777;
			font-size: 12px;
			line-height: 22px;
		}

		img {
			min-height: 40px;
			max-height: 40px;
			border-radius: 5px;
		}

		.bcs {
			background: #EEF2F6;
			height: 50px;
			border-radius: 10px;
		}


	}


	.sided-box {
		.counter-box {
			height: 250px;
			background: white;
			border-radius: 10px;
			box-shadow: 0px 0px 30px #D7DEE6;
			padding: 3%;
		}

		h3 {
			font-size: 90px;
			color: #A4B0BC;
			font-family: 'Open Sans';

		}

		h4 {
			color: #A4B0BC;
		}

		.task-sm-box {
			width: 100%;
			height: 530px;
			background: white;
			border-radius: 10px;
			box-shadow: 0px 0px 30px #D7DEE6;
			margin-top: 4%;
			padding: 4%;

			h4 {
				color: #A4B0BC;
			}

			ul li {
				list-style: none;
				margin-bottom: 3%;
				padding-bottom: 4%;
				border-bottom: 1px solid #eee;
			}

			ul li h4 {
				color: #4E4E4E !important;
			}

			ul li span {
				float: left;
				font-size: 14px !important;
				margin-top: -7px;

			}
		}
	}

	.graph-box {
		float: left;
		width: 100%;
		height: auto;
		background: white;
		margin-top: 2%;
		border-radius: 10px;
		padding: 2%;
	}

}

// ====================================================================
// MEETING CSS RULES
// ++++++++++++++++++++++++++++++++++++++++++++
.post__images {
	margin-top: 2%;

	img {
		width: 98px;
	}

	input {
		background: red;
		height: 80px;
		position: absolute;
		width: 23%;
		margin-top: 2%;
		opacity: 0;
		cursor: pointer;
		margin-left: 36%;
	}
}

.upload--text {
	font-size: 14px;
	font-weight: 600;
}

.body__meeting {
	background: #EEF2F6;

	header.g-head {
		@extend .g-head;
		width: 100% !important;
		padding: 1.9% 4% !important;

		input {
			border: none !important;
			font-size: 19px !important;
			padding: 1% 1% !important;
		}
	}



	.meetingarea {
		textarea {
			height: 100vh;
			box-shadow: none;
			border: none;
			padding: 3% 4%;
			font-size: 14px;
			border-radius: 1px;
			display: block;
		}

		.button__end {
			position: fixed;
			bottom: 3%;
			width: 50%;
			margin-left: 7%;
			background: #35DF85 !important;
			display: block;
			padding: 14px;
			border: none;
			border-radius: 9px;
		}

		.super__well {
			margin: 13% 10%;
			background: #fff;
			padding: 60px;
			box-shadow: none;

			img {
				height: 170px;
				margin-bottom: 8%;
			}

			// . {
			//    position: relative;
			//     background-color: #fff;
			//     -webkit-background-clip: padding-box;
			//     background-clip: padding-box;
			//     border: 1px solid #ddd !important;
			//     border-radius: 6px;
			//     outline: 0;
			//     -webkit-box-shadow: none !important;
			//     box-shadow: none !important;
			//     margin-top: 10%;
			//     margin-left: -72px;
			//     padding: 44px;
			//     margin-right: 2%;
			// }
			// .super__well{
			/* The customcheck */
			.customcheck {
				display: block;
				position: relative;
				padding-left: 35px;
				margin-bottom: 22px;
				cursor: pointer;
				font-size: 17px;
				color: #A4B0BC;
				font-weight: 300;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}

			p {
				font-size: 13px;
				font-weight: 100;

			}

			h4 {
				font-size: 16px;
			}

			.btn-success {
				background: #35DF85 !important;
				padding: 16px;
				border: none;
				margin-top: 27%;
				border-radius: 10px;
			}

			/* Hide the browser's default checkbox */
			.customcheck input {
				position: absolute;
				opacity: 0;
				cursor: pointer;
			}

			/* Create a custom checkbox */
			.checkmark {
				position: absolute;
				top: 0;
				left: 0;
				height: 25px;
				width: 25px;
				border: 1px solid #eee;
				background: transparent;
				border-radius: 50%;
			}

			/* On mouse-over, add a grey background color */
			.customcheck:hover input~.checkmark {
				background-color: #ccc;
			}

			/* When the checkbox is checked, add a blue background */
			.customcheck input:checked~.checkmark {
				background-color: #02cf32;
				border-radius: 50px;
			}

			/* Create the checkmark/indicator (hidden when not checked) */
			.checkmark:after {
				content: "";
				position: absolute;
				display: none;
			}

			/* Show the checkmark when checked */
			.customcheck input:checked~.checkmark:after {
				display: block;
			}

			/* Style the checkmark/indicator */
			.customcheck .checkmark:after {
				left: 9px;
				top: 5px;
				width: 5px;
				height: 10px;
				border: solid white;
				border-width: 0 3px 3px 0;
				-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
			}

			// }
		}

	}

	.left__bar--start {

		.outer__well {
			filter: blur(3px);
			position: fixed;
			height: 100%;
			width: 25%;
			box-shadow: none;
			border-radius: 1px;
			border: none;
			background: #DCE9F6;

			.member__arrange {
				padding: 1px 30px;

				img {
					height: 46px;
					border-radius: 50%;
					border: 3px solid white;
				}

				h4 {
					color: #4A59E3;
					margin-top: 5px;
					margin-bottom: 20px;
					font-size: 20px;
				}
			}

			ul.timeline {
				list-style-type: none;
				position: relative;
				display: block;
			}

			.float-right {
				float: right;
			}

			ul.timeline:before {
				content: ' ';
				background: #d4d9df;
				display: inline-block;
				position: absolute;
				left: 29px;
				width: 2px;
				height: 100%;
				z-index: 400;
			}

			ul.timeline>li {
				margin: 20px 0;
				font-size: 12px;
				padding-left: 50px;
			}

			ul.timeline>li:before {
				content: ' ';
				background: white;
				display: inline-block;
				position: absolute;
				border-radius: 50%;
				border: 2px solid #474848;
				left: 20px;
				width: 20px;
				height: 20px;
				z-index: 400;
			}

		}

		.inner_well {
			background: #fff;
			position: absolute;
			width: 89%;
			bottom: 0;
			margin-left: 2%;
			height: 367px;
			border-radius: 10px;
			border: none;
			padding: 19px 27px;
			box-shadow: none;

			.model_P {
				color: #B5BEC5;
				font-size: 14px;
				margin: 12px;
			}

			.media {
				margin-top: 21px;
				padding-bottom: 3px;
				border-bottom: 1px solid #DED;

				img {
					// height:47px !important;
					width: 47px !important;
				}

				h4 {
					font-size: 16px;
				}

				p {
					font-size: 13px;
					font-weight: 100;
				}
			}

			.switch {
				position: relative;
				//   display: inline-block;
				width: 60px;
				float: right;
				height: 25px;
			}

			/* Hide default HTML checkbox */
			.switch input {
				display: none;
			}

			/* The slider */
			.slider {
				position: absolute;
				cursor: pointer;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: #ccc;
				-webkit-transition: .4s;
				transition: .4s;
			}

			.slider:before {
				position: absolute;
				content: "";
				height: 18px;
				width: 18px;
				left: 4px;
				bottom: 4px;
				background-color: white;
				-webkit-transition: .4s;
				transition: .4s;
			}

			input:checked+.slider {
				background-color: #2196F3;
			}

			input:focus+.slider {
				box-shadow: 0 0 1px #2196F3;
			}

			input:checked+.slider:before {
				-webkit-transform: translateX(26px);
				-ms-transform: translateX(26px);
				transform: translateX(26px);
			}

			/* Rounded sliders */
			.slider.round {
				border-radius: 34px;
			}

			.slider.round:before {
				border-radius: 50%;
			}
		}

	}
}

// +++++++++++++++++++++++++++++++++++++++
// Profile Section
// +============================================
.body__profile {
	background: #EEF2F6;

	header.g-head {
		@extend .g-head;

		h4 {
			font-size: 21px;
			font-weight: 400;
			color: #A4B0BC;
			padding: 6px 0px;
		}

		// width: 100% !important;
		// padding: 1.9% 4% !important;
		// input{
		// 	    // border: none !important;
		// 	    font-size: 19px !important;
		// 	    // padding: 1% 1% !important;
		// }
	}

	div.main__burst {
		.fat--well {
			background: transparent;
			border: none;
			box-shadow: none;
			padding: 5%;

			.well {
				background: #fff;
				//    border: none;
				border-radius: 12px;
				height: 600px;
				padding: 6%;
				box-shadow: none;

				h4 {
					color: #A4B0BC;
					font-weight: 400;
				}

				label {
					color: #A4B0BC;
					font-weight: 100 !important;
				}

				p {
					color: #A4B0BC;
					font-weight: 100 !important;
				}

				input {
					box-shadow: none;
					padding: 21px 13px;
					margin-bottom: 3%;
				}

				button {
					background: #4A59E3;
					padding: 12px;
					border: none;
				}

				//    &:nth-child(3){
				// 	background: #000000 !important;
				//  } 
			}

			// background:rgb(223, 217, 217);
		}
	}

}

// =============================================
// Meeting List
// +++++++++++++++++++++++++++++++++++++++++
#myModals {
	.modal-content {
		padding: 17px 23px;
		box-shadow: 0 2px 15px #00000014 !important;

		.media {
			border-bottom: 1px solid #ddd;
			padding-bottom: 2%;

			button {
				margin-top: -4%;
				border: none;
				padding: 7px 27px;
				background: #5833d7;
			}
		}
	}
}

.body__meetings {
	background: #EEF2F6;

	div#addedStrings img {
		display: block;
		border: 4px solid #fff;
		height: 50px;
		margin-bottom: 6px;
		border-radius: 50%;
	}

	div#addedStrings {
		display: block;
		margin-bottom: 1%;
		margin-left: 4%;
	}

	.table {
		border: 1px solid #ddd;
		border-radius: 5px;
	}

	thead {
		th {
			padding: 17px 20px !important;
			color: #4455ec;
			font-weight: 400 !important;
		}
	}

	tbody {
		td {
			padding: 23px !important;
			// border: 1px solid #ddd;
			color: #979696;
		}
	}

	header.g-head {
		@extend .g-head;

		h4 {
			font-size: 21px;
			font-weight: 400;
			color: #A4B0BC;
			padding: 6px 0px;
		}

		// width: 100% !important;
		// padding: 1.9% 4% !important;
		// input{
		// 	    // border: none !important;
		// 	    font-size: 19px !important;
		// 	    // padding: 1% 1% !important;
		// }
	}

	.columers {
		.counter-box {
			height: 180px;
			background: white;
			border-radius: 10px;
			box-shadow: 0px 0px 30px #D7DEE6;
			padding: 2%;
		}

		h3 {
			font-size: 61px;
			color: #A4B0BC;
			font-family: 'Open Sans';

		}

		h4 {
			color: #A4B0BC;
		}
	}

	.left__meeting--well {
		background: #fff;
		border: none;
		box-shadow: none;
		padding: 40px;
		border-radius: 15px;

		input {
			box-shadow: none;
			border-radius: 50px;
			padding: 22px 16px;
		}

		.top_meeting_box {
			float: left;
			width: 100%;
			min-height: auto;
			background: white;
			border-radius: 10px;
			box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.11528361344537819);
			padding: 4% 1%;
			margin-bottom: 8%;

			h4 {
				font-size: 16px !important;
			}

			img.t_m_b_img {
				height: 80px;
				margin-top: 10%;
			}

		}

		.m_start_box {
			width: 100%;
			background: white;
			border-radius: 50px;
			box-shadow: 2px 0px 15px #e4e4e4;
			height: 43px;
			padding: 4%;
			font-size: 13px;
		}

		.clearfix:before,
		.clearfix:after {
			content: " ";
			display: table;
		}
	}




}




//*BUSINESS CARD STYLE **//

.body__businesscard {
	.bx-wrapper {
		-moz-box-shadow: 0 2px 15px #00000045 !important;
		-webkit-box-shadow: 0 2px 15px #00000045 !important;
		box-shadow: 0 2px 15px #c9c9c94d !important;
		border: 5px solid #fff;
		background: #fff;
		border-radius: 16px !important;
	}

	.g-head h3 {
		font-size: 14px !important;
		color: #A4B0BC;
	}

	.g-head input {
		padding: 13px !important;
		width: 100%;
	}

	#d_content_box {
		background: white;
		border: 1px solid #ccc;
		padding-bottom: 0px;
	}

	.timeline-box {
		height: auto;
		box-shadow: none;
		padding: 4% 4% 0% 4%
	}

	.sided-box {
		background: #EEF2F6;
		min-height: 100vh;
		padding: 4%;

	}

	.timeline-box .message-item .message-head {
		border-bottom: 0px solid #eee;
		margin-bottom: 4px;
		padding-bottom: 4px;
	}

	.s-biz-c {
		position: absolute;
		top: 35%;
		left: 43%
	}

	p {
		color: #A4B0BC;
	}

	.bcs-header {
		width: 100%;
		height: auto;
		background: white;
		border-radius: 50px;
		padding: 3%;
		margin-bottom: 6%;

		h4 {
			color: #333 !important;
		}
	}

	.more-box {
		// width:100%;
		// height:50px;
		background: rgb(74, 89, 227);
		background: -moz-linear-gradient(137deg, rgba(74, 89, 227, 1) 0%, rgba(70, 100, 222, 1) 53%, rgba(22, 146, 240, 1) 100%);
		background: -webkit-linear-gradient(137deg, rgba(74, 89, 227, 1) 0%, rgba(70, 100, 222, 1) 53%, rgba(22, 146, 240, 1) 100%);
		background: linear-gradient(137deg, rgba(74, 89, 227, 1) 0%, rgba(70, 100, 222, 1) 53%, rgba(22, 146, 240, 1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4a59e3", endColorstr="#1692f0", GradientType=1);
		border-radius: 10px;
		padding: 4%;
		color: white;

		p {
			color: white !important;
		}

	}



}

// ============================================
// BUSSINESS CARD DETAILS
// +++++++++++++++++++++++++++++++++++++++++++++
.body__businesscard_detail {
	background: #fff !important;

	#d_box_content {

		h4 {
			img {
				float: left;
				width: 73px;
				height: 73px;
				border-radius: 50%;

			}
		}

		height: 100vh;
		background: #fff;
		padding: 3% 7%;
		border-top: 1px solid #ccc;

		.well {
			width: 100%;
			display: inline-flex;
			background: #fff;
			border: none;
			box-shadow: 0 2px 15px #00000026;
			border-radius: 50px;
			padding: 14px 64px 4px 26px;
			margin-bottom: 4%;
			margin-top: 7px;
		}

		.more-box {
			// width:100%;
			// height:50px;
			background: rgb(74, 89, 227);
			background: -moz-linear-gradient(137deg, rgba(74, 89, 227, 1) 0%, rgba(70, 100, 222, 1) 53%, rgba(22, 146, 240, 1) 100%);
			background: -webkit-linear-gradient(137deg, #4a59e3 0%, rgba(70, 100, 222, 1) 53%, rgba(22, 146, 240, 1) 100%);
			background: linear-gradient(137deg, rgba(74, 89, 227, 1) 0%, rgba(70, 100, 222, 1) 53%, rgba(22, 146, 240, 1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4a59e3", endColorstr="#1692f0", GradientType=1);
			border-radius: 50px;
			padding: 8px 40px;
			float: right;

			color: white;


		}

		.slider {
			box-shadow: 0 2px 15px #00000025;
		}

		.bx-wrapper {
			-moz-box-shadow: 0 2px 15px #00000045 !important;
			-webkit-box-shadow: 0 2px 15px #00000045 !important;
			box-shadow: 0 2px 15px #afafaf4d !important;
			border: 5px solid #fff;
			background: #fff;
			border-radius: 16px !important;
		}
	}
}


// MOBILE QUERY 

// ====================================

@media(max-width : 585px) {
	aside.nav-side {
		width: 30%;
		transform: translate(-1000px);
		height: 100vh;
		background: #fff;
		box-shadow: 1px 1px 20px 2px #0000001a;
		border-top: 1px solid #C7D0DB;
		position: fixed !important;
		top: 0;
		border-right: 2px solid #ddd;
		z-index: 100;
	}

	.burgers {
		display: block;
	}

	.burger {
		// display: 
	}
}

@media(max-width : 989px) {
	aside.nav-side {
		width: 30%;
		transform: translate(-1000px);
		height: 100vh;
		background: #fff;
		box-shadow: 1px 1px 20px 2px #0000001a;
		border-top: 1px solid #C7D0DB;
		position: fixed !important;
		top: 0;
		border-right: 2px solid #ddd;
		z-index: 100;
	}

	.burgers {
		display: block;
	}
}

/* CSS copyright sponsored by The Teach advance UI & UX Team </ > */
/* BEST REGARDS */